/* -- ACCORDEON -- */
button.acordion {
    background-color: #e9bf78;
    color: #FFFFFF;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 1s;
    font-weight: 700;
    height: 82px;
    border-radius: 25px;
}
button.acordion .row .col-12 {
    max-width: 98%;
}
button p{
    margin-top: 20px;
}
button img{
    width: 60px;
}
button.acordion.componentes {
    background-color: #23347a;
    color: #fff;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 1s;
    font-weight: 700;
    height: 82px;
    border-radius: 25px;;
}
button.acordion.componentes.active, button.acordion.componentes:hover {
    background-color: #49acd5;
}
button.acordion.componentes.active {
    border-radius: 25px 25px 0px 0px;
}

div.panel.comp {
    padding: 0 18px;
    color: #FFFFFF;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #23347a;
    width: 100%;
    border-radius: 0px 0px 25px 25px;
}



@media (max-width: 768px) {
    button p{
        font-size: 12px;
    }
  
}