.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 8% calc(80% - 80px);
    place-self: center;
}
/*ACORDEONES*/
button.acordion {
    background-color: #f05910;
    color: #FFFFFF;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    display: flex;
    font-size: 20px;
    transition: 1s;
    font-weight: 700;
    padding: 10px 0;
    position: relative;
    border-radius: 20px;
}

button.acordion:after {
    font-family: FontAwesome;
    content: '\002B';
    color: #FFFFFF;
    font-weight: bold;
    position: absolute;
    right: 5px;
    margin: 0 5px 15px 0;
    padding: 0px 14px;
}

button.acordion.active:after {
    font-family: FontAwesome;
    content: "\2212";
    font-weight: bold;
    transition: all .5s  ease;
}

div.panel {
    padding: 0 18px;
    max-height: 0;
    color: #243678;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-size: 16px;
    width: 100%;
    margin: .5rem 0;
}

div.panel p {
    font-family: 'Open Sans';
    color: #132256;
}
.panel-child {
    padding: 20px;
    width: 100%;
}
.acordion h3 {
    font-size: 1.325rem;
}
.card{
    background-color: #23347a;
    color: #FFFFFF;
    border-radius: 45px;
    padding: 10px;
    height: 100%;
}
.card p{
    font-size: 16px;
    text-align: center;
}
@media (max-width: 760px){
    button.acordion{
        padding: 8px 0 ;
    }
    button.acordion:after {
        padding: 10;
    }
    .acordion h3 {
        font-size: 1rem;
        padding-left: 20px;
    }

    .grid-container {
        grid-template-columns: 18% 83%;
    }
    .grid-container img{
        margin: 0 10px 10px 0;
    }
}