.contenido{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btns {
cursor: pointer;
background-color: inherit;
padding: 0;
border: none;
transition: all .5s ease;
}
.flecha-derr{
position: absolute;
top: 50%;
left: 90%;
width: 40px;
}
.flecha-izqq{
position: absolute;
top: 50%;
left: 2%;
width: 40px;
}

.flecha-abb{
position: absolute;
bottom: 10%;
left: 70%;
width: 40px;
}

.hide{
background-color: cadetblue;
border: darkcyan;
border-radius: 10px;
padding: 20px;
position: absolute;
}
.mkr-lvj{
display: inline-block;
position: absolute;
top: 52%;
left: 23%;
}
.mkr-lvj svg{
width: 30px;
}
.mkr-lvp{
display: inline-block;
position: absolute;
top: 42%;
left: 75%;
}
.mkr-lvp svg{
width: 30px;
}
.mkr-tina{
display: inline-block;
position: absolute;
top: 55%;
left: 18%;
}
.mkr-tina svg{
width: 30px;
}
.mkr-lvd{
display: inline-block;
position: absolute;
top: 32%;
left: 42%;
}
.mkr-lvd svg{
width: 30px;
}
.mkr-lvm{
display: inline-block;
position: absolute;
top: 34%;
left: 62%;
}
.mkr-lvm svg{
width: 30px;
}
.mkr-wc{
display: inline-block;
position: absolute;
top: 46%;
left: 85%;
}
.mkr-wc svg{
width: 30px;
}
.mkr-pool{
display: inline-block;
position: absolute;
top: 75%;
left: 18%;
}
.mkr-pool svg{
width: 30px;
}
.mkr-auto{
display: inline-block;
position: absolute;
top: 44%;
left: 80%;
}
.mkr-auto svg{
width: 30px;
}
.mkr-plant{
    display: inline-block;
    position: absolute;
    top: 43%;
    left: 35%;
    }
    .mkr-plant svg{
    width: 30px;
    }
.modal-content {
background-color: #23347a;
border: none;
border-radius: 2.3rem;
}
.modal-header{
border: none;
color: #FFFFFF;
}



@media (max-width: 768px) {
.mkr-lvj svg{
width: 15px;
}
.mkr-lvp svg{
    width: 15px;
}
.mkr-tina svg{
    width: 15px;
}
.mkr-lvd svg{
    width: 15px;
}
.mkr-lvm svg{
    width: 15px;
}
.mkr-wc svg{
    width: 15px;
}
.mkr-pool svg{
    width: 15px;
}
.mkr-auto svg{
    width: 15px;
}
.mkr-plant svg{
    width: 15px;
}
.mkr-pool{
    top: 61%;
    }
.flecha-derr, .flecha-izqq, .flecha-abb{
    width: 20px;
}
.flecha-abb{
    top:70%;
}
}

@media (max-width: 540px) {
.mkr-lvj{
top: 45%;
}
.mkr-lvp{
top: 35%;
}
.mkr-tina{
top: 48%;
}
.mkr-lvd{
top: 33%;
}
.mkr-lvm{
top: 30%;
}
.mkr-wc{
top: 44%;
}
.mkr-pool{
top: 55%;
}
.mkr-auto{
top: 37%;
}
.mkr-plant{
top: 37%;
}
.flecha-abb{
    top:65%;
}
}

