@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #243678;
}
p{
    font-size: 1.1rem;
    padding-right: 15px;
}
.c1{
    color: #243678;
}

header {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.titles-h2{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
.banner{
    background-image: url('banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo-aguante{
    width: 340px;
}
.txt-inicio{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #49acd5;
}
.logo-gob{
    margin-top: -15px;
}
.bg-nav{
    background-color: #23347a;
}
.bg-nav a{
    color: #FFFFFF !important;
    font-size: 18px;
}
.bg-nav a:hover{
    color: #EAEAEA !important;
}
.item{
    border-right: 1px solid #f1e527;
    padding: 0 6px 0 6px ;
    height: 10%;
}
.nav-item .nav-link:hover{
    border-bottom: 2px solid #f1e527;
}
.redes-sociales {
    display: flex;
    justify-content: center;
    border-left: 2px solid #28277A;
}

.redes-sociales i{
    color: black;
}
.bg-quiz{
    background-image: url('bg-quiz.png');
    background-size: contain;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
}
.bg-quiz img{
    vertical-align: middle;
}
.bg-intro{
    background-image: url('bg-intro.png');
    background-size: cover;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 50px;
    margin-top: 40px;
}
.antecedentes{
    background-image: url('bg-antecedentes.png');
    background-size: cover;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 50px;
}
/*-----------SECCIÓN MEDIDAS--------------*/
.medidas{
    background-image: url('medidas.png');
    background-size: cover;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
}
.tit-medidas{
    margin-top: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 22px;
    word-spacing:  5px;
    line-height: 25px;
}
/*-------SECCION VIDEO----------*/
.mapas{
    background-image: url('bg-video.png');
    background-size: cover;
    height: auto ;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 130px;
}
.mapas h2{
    color: #FFFFFF;
}
.mapas p{
    color: #FFFFFF;
}

.titles-h3{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
.responsive-iframe {
    height: 800px;
  }

  
/* ----------------------- FOOTER ----------------------- */
.footer {
    bottom: 0;
    width: 100%;
    line-height: 1.5rem;
    background-color: #23347a;
    color: #ffffff;
    position: relative;
}
.border-bottom {
    border-bottom: 1px solid #001c41 !important;
}
.separa-logo {
    display: inline-block;
}
.gob-txt{
    line-height: 1.2rem;
    text-align: right;
}

.socialmedia{
    display: flex;
    text-align: left;
    flex-direction: row;
}
footer a, footer a:visited, footer a:active{
    color: #ffffff;
    font-weight: 400;
}
footer a:hover {
    color: white;
    text-decoration: none;
}
/* mantiene el logo de gob en el bottom de la pagina */
.vertical-align-bottom{
    position: absolute;
    bottom: 0;
}
/* ----------------------- REDES SOCIALES ----------------------- */
.fa-instagram, .fa-twitter, .fa-facebook-f, .fa-youtube {
    padding: 5px 8px;
    font-size: 1.2rem;
    display:flex;
    justify-content: space-around;
    transition: all 0.3s ease-in-out;
    color: #FFFFFF;
}
.col-12, .col-md-9, .col-lg-9, .col-4, .col-md-4, .col-md-3, .col-lg-3, .col {
    float: left;
}
ul li {
    padding-bottom: 15px;
}
.separador {
    color: #0F69C4;
}

/*-----------BOTONES---------------*/
.bt{
    width: 270px;
    transition: transform 0.1s;
}
.bt:hover{
    transform: scale(1.1);
    }

.pre-footer{
    background-image: url('pre-footer.png');
    background-size: cover;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 938px) {
    
    .medidas{
        height: 390px;
        background-size: cover;  
    }
    
    .tit-medidas{
        font-size: 16px;
        word-spacing:  1px;
    }
    .txt-inicio{
        display: none;
    }
    .logo-aguante{
        width: 250px;
        padding-bottom: 40px;
    }
   
    .bts{
        width: 190px;
    }
  
}
@media (max-width: 768px) {
    .banner{
        height: 180px;
    }
    .medidas{
        height: 250px;
    }
    .icon{
        width: 70px;
    }
    .item{
        border:none;
        padding: 0;
    }
    .logo-aguante{
        width: 150px;
        padding-bottom: 40px;
    }
    .tit-medidas{
        line-height: 15px;
        font-size: 10px;
    }
    .titles-h2{
        font-size: 20px;
    }
    .mapas{
        background-size: cover;
        height: auto;
    }
    p{
        font-size: 1rem;
    }
    .responsive-iframe {
        height: 400px;
      }
      .pre-footer{
          height: 300px;
      }
      .separa-logo {
        display: grid;
        grid-template-rows: 45px 46px;
        row-gap: 20px;
    }
    .gob-txt{
        text-align: left;
    }
    .head{
        height: 60px;
      }
      .bg-quiz {
        background-image: url(bg-quiz.png);
        background-size: 100% 100%;
        height: 120px;
    }
}